.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.list-item__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.list-header__button{
    color: #3880ff;
}

