.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.list-item {

    &__wrapper{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }

    &__icon {
        height: 20px; 
        width: 20px; 
        font-size: 20px;
    }

    &__button-box {
        display: flex; 
        align-items: flex-start;
    }
}

.list-header__button{
    color: #3880ff;
}

