
<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item color="primary" [routerLink]="['/verbena']">
      <ion-icon slot="start" name="book-outline"></ion-icon>
      <ion-label>Verbena Lindemann</ion-label>
    </ion-item>

    <ion-item color="primary" [routerLink]="['/lokkri']">
      <ion-icon slot="start" name="diamond-outline"></ion-icon>
      <ion-label>Lokkri Baralikson</ion-label>
    </ion-item>

    <ion-item color="primary" [routerLink]="['/gustav']">
      <ion-icon slot="start" name="flame-outline"></ion-icon>
      <ion-label>Gustav Wolfander </ion-label>
    </ion-item>

    <ion-item color="primary" [routerLink]="['/ermin']">
      <ion-icon slot="start" name="restaurant-outline"></ion-icon>
      <ion-label>Ermin o'Mill</ion-label>
    </ion-item>
  </ion-list>

  <mat-list>
    <div mat-subheader>Aktywne questy:</div>

    <mat-list-item>
      <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line>Wyremontować karczme</div>
    <div mat-line>Zbierać hajs na remont</div>
    <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line>Zająć miejsce Mileny</div>
    <div mat-line>Można spóbować podłożyć świnię, żeby została zegradowana</div>
    <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

</ion-content>


