<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!isLoading">
    <img src={{avatarImage}}>
    <ion-card-header>
      <ion-card-title>{{characterData.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2>Korony: <b>{{ characterData.money | GoldenCrownsPipe}}</b>,
        Szylingi: <b>{{ characterData.money | SilverPipe}}</b>,
        Pensy: <b>{{ characterData.money | PennyPipe}}</b>
      </h2>

      <form [formGroup]="formGroup">
        <mat-form-field appearance="outline" class="money-input money-input--margin">
          <mat-label>Korony</mat-label>
          <input autocomplete="off" type="number" matInput formControlName="goldValue" placeholder="korony">
          <mat-error
            *ngIf="formGroup.get('goldValue').hasError('isLessThanZero') || formGroup.get('goldValue').hasError('isNotInteger')">
            Nie wygłupiaj się
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="money-input money-input--margin">
          <mat-label>Szylingi</mat-label>
          <input autocomplete="off" type="number" matInput formControlName="silverValue" placeholder="szylingi">
          <mat-error
            *ngIf="formGroup.get('silverValue').hasError('isLessThanZero') || formGroup.get('silverValue').hasError('isNotInteger')">
            Nie wygłupiaj się
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="money-input">
          <mat-label>Pensy</mat-label>
          <input autocomplete="off" type="number" matInput formControlName="pennyValue" placeholder="pensy">
          <mat-error
            *ngIf="formGroup.get('pennyValue').hasError('isLessThanZero') || formGroup.get('pennyValue').hasError('isNotInteger')">
            Nie wygłupiaj się
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="note-input">
          <mat-label>Notka</mat-label>
          <textarea matInput formControlName="note" placeholder="notatka"></textarea>
        </mat-form-field>
      </form>

      <div style="display: flex; flex-direction: row-reverse;">
        <ion-fab-button color="primary" [disabled]="!(isFormValid && isAtLeastOneFilled)"
          (click)="updateMoneyValue(true)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="warning" [disabled]="!(isFormValid && isAtLeastOneFilled)"
          (click)="updateMoneyValue(false)" style="margin-right: 25px;">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-fab-button>
      </div>

      <app-character-money-history #moneyHistory
        [characterData]="characterData"
        [selectedCharacter] = "selectedCharacter">
      </app-character-money-history>

    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['']" color="primary" fill="outline">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>