<ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-icon name="dice-outline"></ion-icon>
          Zwykła Historia</ion-title>
        </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">


<ion-card *ngIf="!isLoading">
  <img src={{avatarImage}}>
  <ion-card-header>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title>{{characterData.name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <h2>Korony: <b>{{ characterData.money | GoldenCrownsPipe}}</b>, 
      Szylingi: <b>{{ characterData.money | SilverPipe}}</b>, 
      Pensy: <b>{{ characterData.money | PennyPipe}}</b>
    </h2>


    <form [formGroup]="formGroup">

      <!-- <ion-item style="width: 30%; margin-right: 5%; border: 1px grey solid; border-radius: 5px;">
        <ion-label position="floating">
          Korony
        </ion-label>
        <ion-input autocomplete="off" type="number" formControlName="goldValue"></ion-input>
      </ion-item>

      <ion-item style="width: 30%; margin-right: 5%; border: 1px grey solid; border-radius: 5px;">
        <ion-label position="floating">
          Szylingi
        </ion-label>
        <ion-input autocomplete="off" type="number" formControlName="silverValue"></ion-input>
      </ion-item>

      <ion-item style="width: 30%; margin-right: 5%; border: 1px grey solid; border-radius: 5px;">
        <ion-label position="floating">
          Pensy
        </ion-label>
        <ion-input autocomplete="off" type="number" formControlName="pennyValue"></ion-input>
      </ion-item> -->


      <mat-form-field appearance="outline" style="width: 30%; margin-right: 5%;">
        <mat-label>Korony</mat-label>
        <input autocomplete="off" 
        type="number" matInput
        formControlName="goldValue" 
        placeholder="korony">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 30%; margin-right: 5%;">
        <mat-label>Szylingi</mat-label>
        <input autocomplete="off"
        type="number" matInput
        formControlName="silverValue" 
        placeholder="szylingi">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 30%;">
        <mat-label>Pensy</mat-label>
        <input autocomplete="off"
        type="number" matInput
        formControlName="pennyValue" 
        placeholder="pensy">
      </mat-form-field>


      <mat-form-field appearance="outline" style="width: 65%;">
        <mat-label>Notka</mat-label>
        <textarea matInput
        formControlName="note" 
        placeholder="notatka"></textarea>
      </mat-form-field>

    </form>
    <div style="display: flex; flex-direction: row-reverse;">
    <button mat-fab color="primary" style="font-size: 30px;" (click)="update(true)"><span style="color: white">+</span></button>
    <button mat-fab color="warn" style="font-size: 30px; margin-right: 25px;" (click)="update(false)"><span style="color: white">-</span></button>
    </div>

    
    <ion-list style="margin-top: 20px;">
      <ion-list-header style="font-size: 20px;">
        <ion-icon name="receipt-outline"></ion-icon> &nbsp; Historia
      </ion-list-header>
      
      <ion-item *ngFor="let history of characterData.history">
        <ion-icon *ngIf="history.type" style="color: rgb(79, 179, 13)" slot="start" name="trending-up-outline"></ion-icon>
        <ion-icon *ngIf="!history.type" style="color: rgb(189, 44, 0)" slot="start" name="trending-down-outline"></ion-icon>
        <ion-label>
          <span>
            ZK: {{history.value | GoldenCrownsPipe}},
            Szyl: {{ history.value | SilverPipe}},
            Pens: {{ history.value | PennyPipe}} 
          </span><br>
          <ng-container *ngIf="selectedCharacter === 'gustav' && history.type">
            <span style="font-size: 15px;">
              Podatek: 
              {{(history.tax | GoldenCrownsPipe) + '.' + (history.tax | SilverPipe) + '.' + (history.tax | PennyPipe)}}
            </span><br>
          </ng-container>
          <span>Notka: <i>{{history.note}}</i></span>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>

</ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['']">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>

